<div>
  <h2 class="title">Cuentas registradas</h2>
  <div class="tabla">

    <button nz-button nzType="primary"><i nz-icon nzType="plus"></i>Agregar cuenta</button>
    <nz-table #nzTable [nzData]="listOfDisplayData">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Correo</th>
          <th>Usuario</th>
          <th>Password</th>
          <th>Empresa</th>
          <th>Lugar</th>
          <th>Fecha Registro</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data">
          <td> {{ data.nombre }} </td>
          <td> {{ data.apellido }} </td>
          <td> {{ data.correo }} </td>
          <td> {{ data.usuario }} </td>
          <td> {{ data.password }} </td>
          <td> {{ data.empresa }} </td>
          <td> {{ data.lugar }} </td>
          <td> {{ data.fechaRegistro }} </td>
          <td> {{ data.estado && 'Activo' || 'Inactivo' }} </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
